# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Table of Data Science tools
* Evaluating arithmetic expressions in Python
* Converting Minutes to Hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. Structured Query Language (SQL)

Some of the commonly used libraries used by Data Scientists include:

I. Python
1. Scientific Computing Libraries: Pandas, Numpy
2. Visualization Libraries: Matplotlib, Seaborn
3. High-Level- Machine Learning and Deep Learning: SciKit-Learn, Keras
4. Deep Learning Libraries: TensorFlow, PyTorch

II. R
1. Data Visualization: ggplot2

|Data Science Tools|
|:--------:|
|Jupyter Notebook| 
|Jupyter Lab|  
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200/60
print(min)

3.3333333333333335

## Author
Riza Carmela Pineda